# SPDX-License-Identifier: Unlicense
# SPDX-FileCopyrightText: Tristan Partin <tristan@partin.io>

/.hugo_build.lock
/bin/
# /layouts/partials/webring-out.html
/node_modules/
/public/
/resources/_gen

!/.vscode/
