# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Tristan Partin <tristan@partin.io>

# devenv
/.devenv/
/devenv.local.nix
/devenv.local.yaml

# Hugo
/.hugo_build.lock
/public/
/resources/_gen

# pre-commit
/.pre-commit-config.yaml
