# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: Tristan Partin <tristan@partin.io>

[submodule "openring"]
	path = openring
	url = https://git.sr.ht/~sircmpwn/openring
	shallow = true
[submodule "hugo"]
	path = hugo
	url = https://github.com/gohugoio/hugo.git
	branch = stable
	shallow = true
