{{ define "main" }}
	<section>
		{{ $paginator := .Paginate (where .Pages "Type" "blog") }}
		{{ partial "page-title.html" . }}
		{{ if eq $paginator.PageNumber 1 }}
			{{ with .Content }}
				<p id="content-about" class="font-weight-normal">{{ . }}<p/>
			{{ end }}
		{{ end }}
		<ul class="undecorated-list content-list">
			{{ range $paginator.Pages }}
				{{ partial "summary.html" . }}
			{{ end }}
		</ul>
		{{ if or $paginator.HasPrev $paginator.HasNext }}
			<div id="page-controls">
				<span id="page-controls-prev">
					{{ if $paginator.HasPrev }}
						{{ if and (ne $paginator.First.PageNumber $paginator.PageNumber) (ne $paginator.First.PageNumber $paginator.Prev.PageNumber) }}
							<a aria-label="Go to first page" class="btn btn-primary page-control undecorated-link" href="{{ $paginator.First.URL }}">
								First
							</a>
						{{ end }}
						<a aria-label="Go to page {{ $paginator.Prev.PageNumber }}" class="btn btn-primary page-control undecorated-link" href="{{ $paginator.Prev.URL }}">
							{{ $paginator.Prev.PageNumber }}
						</a>
					{{ end }}
				</span>
				<span id="page-controls-next">
					{{ if $paginator.HasNext }}
						<a aria-label="Go to page {{ $paginator.Next.PageNumber }}" class="btn btn-primary page-control undecorated-link" href="{{ $paginator.Next.URL }}">
							{{ $paginator.Next.PageNumber }}
						</a>
						{{ if and (ne $paginator.Last.PageNumber $paginator.PageNumber) (ne $paginator.Last.PageNumber $paginator.Next.PageNumber) }}
							<a aria-label="Go to last page" class="btn btn-primary page-control undecorated-link" href="{{ $paginator.Last.URL }}">
								Last
							</a>
						{{ end }}
					{{ end }}
				</span>
			</div>
		{{ end }}
	</section>
{{ end }}
