{{ define "main" }}
	<section>
		{{ $paginator := .Paginate (where .Pages "Type" "blog") }}
		{{ partial "page-title.html" . }}
		{{ if eq $paginator.PageNumber 1 }}
			<p id="content-about" class="font-weight-normal">
				{{ if .Data.Singular }}
					Content related to <span class="monospace">{{ .LinkTitle }}</span>
				{{ else }}
					{{ with .Content }}
						{{ . }}
					{{ end }}
				{{ end }}
			</p>
		{{ end }}
		<ul class="undecorated-list content-list">
			{{ range $paginator.Pages }}
				{{ partial "summary.html" . }}
			{{ end }}
		</ul>
		{{ partial "page-controls.html" $paginator }}
	</section>
{{ end }}
