{{ define "main" }}
	<section>
		{{ $paginator := .Paginate (where .Pages "Type" "blog") }}
		{{ partial "page-title.html" . }}
		{{ if eq $paginator.PageNumber 1 }}
			<h2 id="content-about" class="font-weight-normal">{{ .Content }}</h2>
		{{ end }}
		<ul class="undecorated-list content-list">
			{{ range $paginator.Pages }}
				{{ partial "summary.html" . }}
			{{ end }}
		</ul>
		{{ if or $paginator.HasPrev $paginator.HasNext }}
			<div>
				{{ if $paginator.HasPrev }}
					<a class="btn btn-primary" style="float: left;" href="{{ $paginator.Prev.URL }}">
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
								<path d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z"></path>
							</svg>
						</span>
						Page {{ $paginator.Prev.PageNumber }}
					</a>
				{{ end }}
				{{ if $paginator.HasNext }}
					<a class="btn btn-primary" style="float: right;" href="{{ $paginator.Prev.URL }}">
						Page {{ $paginator.Next.PageNumber }}
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
								<path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path>
							</svg>
						</span>
					</a>
				{{ end }}
			</div>
		{{ end }}
	</section>
{{ end }}
