{{ define "main" }}
  <section id="single-container">
    <article class="box-shadow-container">
      <h1 id="content-title">{{ .Title }}</h1>
      <div class="content-metadata">
        <div>
          {{ with .Date.Format "2006-01-02" }}
            Published <time datetime="{{ . }}">{{ . }}</time> on
          {{ end }}
          <a class="content-metadata" href="{{ (.GetPage "blog").RelPermalink }}">
            {{ if strings.HasSuffix .Site.Author.name "s" }}
              {{ .Site.Author.name }}'
            {{ else }}
              {{ .Site.Author.name }}'s
            {{ end }}
            blog
          </a>
          —
          <a class="content-metadata" href="{{ .Permalink }}">Permalink</a>
          <br />
          {{ with .Lastmod.Format "2006-01-02T15:04:05-0700" }}
            Last modifed at <time datetime="{{ . }}">{{ . }}</time>
          {{ end }}
        </div>
        {{ partial "all-taxonomies.html" . }}
      </div>
      <div id="content">
        {{ .Content }}
      </div>
    </article>
    <section class="box-shadow-container">
      {{ with .Site.Params }}
        Have a comment or question on one of my posts?
        {{ with .mailingList }}
          Start a discussion in my
          <a class="consistent-link" href="{{ .archiveURL }}" target="_blank" rel="noopener">
          public inbox</a>
          by sending an email to <a class="consistent-link" href="mailto:{{ .address }}?Subject=Re: {{ $.Title }}">
          {{ .address }}</a>. If you are unfamiliar with mailing lists, start with reading about
          <a class="consistent-link" href="https://man.sr.ht/lists.sr.ht/etiquette.md" target="_blank" rel="noopener">mailing list etiquette</a>.
          Otherwise just shoot me an email to my address which is linked in the sidebar.
        {{ end }}
      {{ end }}
    </section>
  </section>
{{ end }}
