{{ define "main" }}
	<section>
		{{ partial "page-title.html" . }}
		<h2 id="content-about" class="font-weight-normal">{{ .Content }}</h2>
		<ol class="undecorated-list content-list">
			{{ range .Data.Terms.Alphabetical }}
				<li class="content-item">
					<h2 class="summary-title">
						<a class="monospace font-weight-bold consistent-link" href="{{ ($.Site.GetPage (printf "/%s/%s" (lower $.Title) .Term)).Permalink }}">{{ .Term }}</a>
					</h2>
					<ol class="undecorated-list archive-list">
						{{ range .Pages }}
							<li>
								{{ with .PublishDate.Format "2006-01-02" }}
									<time datetime="{{ . }}">{{ . }}</time>
								{{ end }}
								<a class="consistent-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
							</li>
						{{ end }}
					</ol>
				</li>
			{{ end }}
		</ol>
	</section>
{{ end }}