* {
    font-family: 'Ubuntu Mono', 'monospace';
}

body {
    height: 100vh;
    margin: 0;
    background-image: url("../images/45-degree-fabric-light.png");
}

#headshot {
    border-radius: 3px;
    width: 100%;
    margin-bottom: 1em;
}

#name-container {
    flex-grow: 1;
}

#name {
    margin: 10px auto;
    margin-right: 20px;
}

#name-with-profiles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#page-content {
    padding: 2em;
    padding-top: 4em;
    height: 100%;
}

#profiles > a {
    margin-right: 5px;
}

#profiles a:last-of-type {
    margin-right: 0px;
}

#subtitle {
    margin: 10px auto;
}

#summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#summary > * {
    margin-right: 2em;
}

#summary div:last-of-type {
    margin-right: 0em;
}

#summary > #left {
    width: 75%;
}

#summary > #right {
    flex-grow: 2;
    flex-shrink: 2;
}

#resume {
    display: block;
    text-decoration: none;
    color: black;
    border: solid black 2px;
    border-radius: 3px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    width: 75px;
    margin-bottom: 0em;
}

#resume:hover {
    background-color: aquamarine;
    transition: all .35s ease;
}

.topnav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-weight: bold;
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    margin: 10px 10px;
    flex-wrap: wrap;
    height: 20px;
    padding: 10px;
    background-color: #fdf9f3 !important;
    border-bottom: 1px solid rgba(0,0,0,0.33);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
}

.topnav a {
    color: black;
    text-align: center;
    padding: 5px 14px;
    text-decoration: none;
    transition: all .35s ease;
    font-size: 17px;
    border-bottom: solid transparent 2px;
}

.topnav a:hover {
    border-bottom-color: black;
}

.card {
    padding: 1.5em;
    margin-bottom: 1.2em;
    background: white;
    color: #0a0a0a;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    box-shadow: 3px 3px 0px #bababa;
}
