@font-face
{
	font-family: "IBM Plex Sans";
	font-display: swap;
	{{ $ibmPlexSans := resources.Get "/fonts/IBMPlexSansVar-Roman.woff2" | fingerprint }}
	src: url("{{ $ibmPlexSans.RelPermalink }}");
}

@font-face
{
	font-family: "Fira Code";
	font-display: swap;
	{{ $firaCode := resources.Get "/fonts/FiraCode-VariableFont_wght.ttf" | fingerprint }}
	src: url("{{ $firaCode.RelPermalink }}");
}
