<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="title" content="{{ .Title }} - Tristan Partin">
	<meta
		name="description"
		content="{{ if .Summary }}{{ .Summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Tristan Partin's personal website and blog.{{ end }}"
	>

	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Title }} - Tristan Partin">
	<meta property="og:url" content="{{ .Permalink }}">
	{{ $siteImage := resources.Get "images/site-image.jpg" | fingerprint }}
	<meta property="og:image" content="{{ $siteImage.Permalink }}">
	<meta property="og:image:type" content="image/jpeg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="628">
	<meta property="og:image:alt" content="Astronaut with beer sitting in lawn chair looking at the Earth from the Moon">
	<meta
		property="og:description"
		content="{{ if .Summary }}{{ .Summary }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}Tristan Partin's personal website and blog.{{ end }}"
	>

	{{ partial "head-includes.html" . }}
	{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{ end -}}

	<noscript>
		<style>
			@media (prefers-color-scheme: dark) {
				:root {
					--color: white;
					--main-bg-color: #2d2d2d;
					--consistent-link-color: #378AD3;
					--content-metadata-color: #d4d4d4;
					--box-shadow-container-color: #222222;
					--raised-backgroud-color: #393939;
				}
			}

			.no-js {
				display: none !important;
			}
		</style>
	</noscript>

	<script type="text/javascript">
		function isDarkModeEnabled() {
			const siteThemeFromStorage = window.localStorage.getItem("site-theme");
			return (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches && (siteThemeFromStorage !== "light")) || siteThemeFromStorage === "dark";
		}

		function switchTheme(theme) {
			if (theme === "dark") {
				document.documentElement.setAttribute("site-theme", "dark");
				window.localStorage.setItem("site-theme", "dark");
			} else {
				document.documentElement.setAttribute("site-theme", "light");
				window.localStorage.setItem("site-theme", "light");
			}
		}

		function overrideTheme(button) {
			if (!isDarkModePreferred) {
				isDarkModePreferred = true;
				this.innerHTML = "Light Theme";
				switchTheme("dark");
			} else {
				isDarkModePreferred = false;
				this.innerHTML = "Dark Theme";
				switchTheme("light");
			}
		}
	</script>

	<style>
		.hidden {
			height: 0;
		}
	</style>

	<title>{{ .Title }} - Tristan Partin</title>
	<link rel="canonical" href="{{ .Permalink }}" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
