<div id="title-container">
	{{ if eq .Title .Site.Author.name }}
		<h1 id="title" {{ if .Data.Singular }}class="monospace"{{ end }}>Home</h1>
	{{ else }}
		<h1 id="title" {{ if .Data.Singular }}class="monospace"{{ end }}>{{ .Title }}</h1>
	{{ end }}
	<span id="page-links">
		{{ if ne .Type "archive" }}
			{{ with .GetPage "archive" }}
				<a class="consistent-link monospace" href="{{ .RelPermalink }}">archive</a>
			{{ end }}
		{{ end }}
		{{ with .OutputFormats.Get "RSS" }}
			<a class="consistent-link monospace" href="{{ .RelPermalink }}">rss</a>
		{{ end }}
	</span>
</div>
