<footer id="sidebar" class="box-shadow-container">
	{{ $profile := resources.Get "images/profile.webp" | fingerprint }}
	<!--
		Don't lazy load on desktop. Lighthouse reports this as an issue because
		the image is visible right off the bat.
	-->
	<img class="profile-picture mobile-hide" src="{{ $profile.RelPermalink }}" alt="Profile picture of Tristan Partin" title="Tristan Partin" width="200" height="200" />
	<img class="profile-picture desktop-hide" src="{{ $profile.RelPermalink }}" loading="lazy" alt="Profile picture of Tristan Partin" title="Tristan Partin" width="200" height="200" />
	{{ with .Site.Params.resume }}
		<div id="resume" class="centered">
			<a class="consistent-link" href="{{ .url }}" rel="noopener">Resume</a>
		</div>
	{{ end }}
	<p>
		I am a human. I do human things.
	</p>
	<address>
		<ul class="undecorated-list contact-list">
			{{ with .Site.Params.email }}
				<li>
					<div>email</div>
					<a class="consistent-link" href="mailto:{{ .beforeAt }}@{{ .afterAtBeforeDot }}.{{ .tld }}"><span class="email-component">{{ .beforeAt }}</span><span class="email-component">@</span><span class="email-component">{{ .afterAtBeforeDot }}</span><span class="email-component">.</span><span class="email-component">{{ .tld }}</span></a>
				</li>
			{{ end }}
			{{ with .Site.Params.gpg }}
				<li>
					<div>gpg</div>
					<a class="consistent-link monospace" href="{{ .path }}">{{ .fingerprint }}</a>
				</li>
			{{ end }}
			{{ with .Site.Params.socials.sourceHut }}
				<li>
					<div>sourcehut</div>
					<a class="consistent-link" href="{{ .url }}" rel="noopener">{{ .username }}</a>
				</li>
			{{ end }}
			{{ with .Site.Params.socials.gitHub }}
				<li>
					<div>github</div>
					<a class="consistent-link" href="{{ .url }}" rel="noopener">{{ .username }}</a>
				</li>
			{{ end }}
			{{ with .Site.Params.socials.mastodon }}
				<li>
					<div>mastodon</div>
					<a class="consistent-link" href="{{ .url }}" rel="me noopener">{{ .username }}</a>
				</li>
			{{ end }}
			{{ with .Site.Params.socials.linkedIn }}
				<li>
					<div>linkedin</div>
					<a class="consistent-link" href="{{ .url }}" rel="noopener">{{ .username }}</a>
				</li>
			{{ end }}
			{{ with .GetPage "uses" }}
				<li>
					<div>uses</div>
					<a class="consistent-link monospace" href="{{ .RelPermalink }}">{{ .RelPermalink }}</a>
				</li>
			{{ end }}
		</ul>
	</address>
	<hr />
	<div class="sidebar-section">
		{{ with .Site.Params.licenses }}
			<p class="sidebar-paragraph">
				The content on this site is
				<a class="consistent-link" href="{{ .content.url }}"rel="noopener">{{ .content.spdx }}</a>.
				The code for this site is
				<a class="consistent-link" href="{{ .code.url }}"rel="noopener">{{ .code.spdx }}</a>.
			</p>
		{{ end }}
	</div>
	<hr />
	{{ with .Site.Params.repository }}
		<p class="small-text">
			This code and content for this site can be found on
			<a class="consistent-link" href="{{ .url }}"rel="noopener">{{ .forge }}</a>.
		</p>
	{{ end }}
	<p class="small-text">
		This site uses absolutely no analytics or tracking mechanisms.
	</p>
	{{ if .GitInfo }}
		<hr />
<pre class="monospace small-text" aria-label="Git Info">
Commit:	<a class="consistent-link" href="{{ printf .Site.Params.repository.commitURLPattern .GitInfo.Hash }}"rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a>
</pre>
	{{ end }}
</footer>
