<!DOCTYPE html>
<html lang="en-US">
{{ partial "head.html" . }}
<body lang="en">
	{{ partial "nav.html" }}
	<div id="page-container">
		<div id="content-container">
			<main id="main">
				<div>
					{{ partial "page_title.html" . }}
					<div id="content-about">
						<p>
							Welcome to my site. Here are the things I have recently posted about.
						</p>
					</div>
					<ul class="undecorated-list content-list">
						{{ range first 10 .Site.RegularPages }}
							{{ partial "summary.html" . }}
						{{ end }}
					</ul>
				</div>
				{{ partial "webring-out.html" }}
			</main>
			{{ partial "sidebar.html" }}
		</div>
	</div>
</body>
</html>
